TELEGRAM_API_KEY=telegram-api-key
FLASK_TELEGRAM_API_KEY=telegram-api-key
API_BASE_URL=http://localhost:5000
FLASK_OPENAI_API_KEY=openai-api-key
FLASK_PHOENIX_ENDPOINT=http://localhost:6006/v1/traces
FLASK_SECRET_KEY=your-secret-key
FLASK_SQLALCHEMY_ENGINES__default=sqlite:///db.sqlite3
FLASK_CELERY__broker_url=redis://localhost
FLASK_CELERY__result_backend=redis://localhost