fastapi==0.63.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.0
pkg-resources==0.0.0
priority==1.3.0
pydantic==1.8.1
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
wsproto==1.0.0
