click==8.0.3
Faker==10.0.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
python-dateutil==2.8.2
six==1.16.0
SQLAlchemy==1.4.28
text-unidecode==1.3
Werkzeug==2.0.2
