click==8.0.1
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mypy==0.910
mypy-extensions==0.4.3
SQLAlchemy==1.4.23
toml==0.10.2
typing-extensions==3.10.0.1
Werkzeug==2.0.1
