aiohttp==3.6.2
aiosqlite==0.15.0
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
fastapi==0.61.1
h11==0.10.0
h2==3.2.0
hpack==3.0.0
Hypercorn==0.10.2
hyperframe==5.2.0
idna==2.10
iso8601==0.1.13
multidict==4.7.6
pkg-resources==0.0.0
priority==1.3.0
pydantic==1.6.1
PyPika==0.39.1
requests==2.24.0
starlette==0.13.6
toml==0.10.1
tortoise-orm==0.16.14
typing-extensions==3.7.4.3
urllib3==1.25.10
wsproto==0.15.0
yarl==1.5.1
